body{
    font-size: 20px;
    background-color: #b4b9c0;
}
h2{
    font-family: 'Bitter', serif;
    letter-spacing: 0.1em;
    color: #3f6189;
}
.parent_div{
    margin-top: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child_div{
    text-align: center;
}
.main_ul{
    padding: 0;
}
.main_li{
    display: inline;
    margin-inline: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
}
a{
    text-decoration: none;
    color: #3f6189;
}
a:hover{
    text-decoration: underline;
    font-style: italic  ;
}